---
const copyright = `J10c @ ${new Date().getFullYear()}`;
---

<footer>
  <span> { copyright } </span>
</footer>

<style lang="less">
footer {
  margin-top: 24px;
  color: #00000033;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: .9rem;
  user-select: none;
}
</style>
