---
import type { Languages } from "@interfaces/i18n";
import Navigation from "./Navigation.astro";
import "@fontsource/ibm-plex-sans/500.css";

export interface Props {
  title?: string;
  lang: Languages;
}

const { title, lang } = Astro.props;
---

<header class="header">
  <div class="container">
    { title && <a href="/" class="logo">{ title }</a> }
    <div class="auto"></div>
    <Navigation lang={lang} />
  </div>
</header>

<style lang="less">
.header {
  .container {
    min-height: 45px;
    display: flex;
    max-width: 80ch;
    align-items: center;
    padding: 0 1rem;
    @media screen and (max-width: 400px) {
      & {
        flex-direction: column;
      }
    }
  }
  .auto {
    flex: auto;
  }
  .logo {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    flex: none;
  }
}
</style>
