---
import Navigation from "./Navigation.astro";

export interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<header class="header">
  <div class="container">
    <a href="/" class="logo">{ title }</a>
    <div class="auto"></div>
    <Navigation lang={lang} />
  </div>
</header>

<style lang="less">
.header {
  .container {
    display: flex;
    max-width: 80ch;
    align-items: center;
  }
  .auto {
    flex: auto;
  }
  .logo {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 0;
  }
}
</style>