---
import type { Languages } from "@interfaces/i18n";
import type { LanguageCollection } from "@interfaces/post";
import { parseCollection } from "@utils/languageCollection";

export interface Props {
  collection: LanguageCollection;
}

const { collection, } = Astro.props;
const { lang } = Astro.params;

const data = parseCollection(collection, lang as Languages);

---

<li class="post-list-item">
  <div class="date">{ new Date(data.post.meta.pubDate).toLocaleDateString(lang) }</div>
  <a class="title" href={`/${lang}/blog/${data.post.url}`}>
    { data.post.meta.title }
  </a>
</li>

<style lang="less">
.post-list-item {
  display: flex;
  align-items: baseline;
}
.title {
  font-family: var(--font-retro);
  line-height: 170%;
  margin-left: .8rem;
  color: var(--stone-red-7);
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.date {
  flex: 20% 0;
  font-family: "IBM Plex Sans", sans-serif;
  opacity: .5;
  font-size: .9rem;
  text-align: end;
}
.description {
  margin-top: 6px;
}
</style>
