---
import type { Post } from "@interfaces/post";

export interface Props {
  post: Post
}

const { post } = Astro.props;
---

<div class="post-preview">
  <div class="post-title">
    <a href={post.url}>
      { post.meta.title }
    </a>
  </div>
  <div class="post-date">{ post.meta.pubDate }</div>
</div>
