---
import BaseLayout from "@layouts/BaseLayout.astro";
import Social from "@components/Social.astro";
import type { Languages } from "@types/i18n";

export interface Props {
	lang: Languages;
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn" } },
    { params: { lang: "en" }, props: { lang: "en" } },
  ];
}

const { lang } = Astro.props;

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<BaseLayout title={ pageTitle } lang={lang}>
  <Social lang={lang} />
  <h2>... and my new Astro site!</h2>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
