---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-sans/500.css";

export interface Props {
  lang: "zh-cn" | "en";
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn" } },
    { params: { lang: "en" }, props: { lang: "en" } },
  ];
}

const { lang } = Astro.props;
---

<BaseLayout lang={lang}>
  <div class="hero">
    <h1> Hello, </h1>
    <h1> I'm J10c </h1>
  </div>
</BaseLayout>

<style lang="less">
	.hero {
		h1 {
	    font-family: "IBM Plex Sans", sans-serif;
			margin: 0;
		}
	}
</style>
