---
import type { Meta } from "@types/post";
import BaseLayout from "./BaseLayout.astro";
import "@styles/markdown.less";
import "@fontsource/crete-round";
import type { Languages } from "@types/i18n";

export interface Props {
  frontmatter: Meta
}

const { frontmatter } = Astro.props;
const { lang } = Astro.params;

const pageTitle = "Post"
---

<BaseLayout title={pageTitle} lang={lang as Languages}>
  <h1 class="post-title">{ frontmatter.title }</h1>
  <div class="post-meta">
    <span class="date">{ new Date(frontmatter.pubDate).toLocaleDateString(lang) }</span>
    <span>{ frontmatter.author }</span>
    <span style="flex: auto"></span>
    <div class="tags">
      { frontmatter.tags?.map(tag => (
        <span class="tag">
          <a href={`/${lang}/tags/${tag}`}> {tag.toUpperCase()} </a>
        </span>
      ))}
    </div>
  </div>
  <main class="markdown">
    <slot />
  </main>
</BaseLayout>

<style lang="less">

.post-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .9rem;
  margin-bottom: 24px;
  .date {
    color: #00000088
  }
  .tags {
    display: flex;
    gap: 4px;
    .tag {
      padding: 2px 0;
      border-radius: 6px;
      transition: .3s all;
      font-family: 'Crete Round', sans-serif;
      a {
        color: #000000cc;
        text-decoration: none;
      }
      &:hover {
        background-color: var(--stone-green-1);
      }
    }
  }
}
.post-title {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: var(--font-serif);
}
</style>
