---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostPreview from "@components/PostPreview.astro";
import type { Languages } from "@interfaces/i18n";
import { useTranslations } from "@hooks/i18n/useTranslations";
import { getLanguageCollections } from "@utils/languageCollection";
import type { LanguageCollection } from "@interfaces/post";
import FriendList from "@components/FriendList.astro";

export interface Props {
	lang: Languages;
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn"} },
    { params: { lang: "en" }, props: { lang: "en"} }
  ]
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const allCollections = await getLanguageCollections();
allCollections.sort((a, b) => {
  const postA = a.posts["zh-cn"] || a.posts.en;
  const postB = b.posts["zh-cn"] || b.posts.en;
  return new Date(postB!.meta.pubDate).getTime() - new Date(postA!.meta.pubDate).getTime();
})
const packedByYear = new Map<number, LanguageCollection[]>();
for (const collection of allCollections) {
  const year = collection.posts["zh-cn"]?.meta.pubDate.getFullYear() || 2099;
  if (!packedByYear.has(year)) packedByYear.set(year, []);
  packedByYear.get(year)?.push(collection);
}
---

<BaseLayout title="Blog" lang={ lang }>
  <main>
    <section>
      <p class="slogan desc">
        { t("blog.slogan") }
        <a href="blog/rss.xml" class="rss-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2m2.5 12A1.5 1.5 0 0 0 6 16.5A1.5 1.5 0 0 0 7.5 18A1.5 1.5 0 0 0 9 16.5A1.5 1.5 0 0 0 7.5 15M6 10v2a6 6 0 0 1 6 6h2a8 8 0 0 0-8-8m0-4v2a10 10 0 0 1 10 10h2A12 12 0 0 0 6 6"/></svg>
        </a>
      </p>
      {Array.from(packedByYear.entries())
        .map(([year, collection]) => (
          <ul class="post-list" data-year={year}>
            {collection.map((collection) => (
              <PostPreview {collection} />
            ))}
          </ul>
        ))
      }
    </section>
    <section>
      <p class="friends desc">{ t("blog.friends") }</p>
      <FriendList />
    </section>
  </main>
</BaseLayout>

<style lang="less">
main {
  padding: 0 1rem 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section {
  margin: 2rem 0;
}
.desc {
  padding-left: 40px;
  font-family: "IBM Plex Sans", sans-serif;
  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}
.post-list {
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  &::before {
    content: attr(data-year);
    opacity: .1;
    font-weight: bold;
    font-size: 2rem;
    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}

.rss-link {
  color: var(--stone-red-7);
  text-decoration: none;
  margin-left: .3rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
  }
}
</style>
