---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostPreview from "@components/PostPreview.astro";
import type { Languages } from "@interfaces/i18n";
import { useTranslations } from "@hooks/i18n/useTranslations";
import { getLanguageCollections } from "@utils/languageCollection";
import type { LanguageCollection } from "@interfaces/post";
import FriendList from "@components/FriendList.astro";

export interface Props {
	lang: Languages;
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn"} },
    { params: { lang: "en" }, props: { lang: "en"} }
  ]
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const allCollections = await getLanguageCollections();
allCollections.sort((a, b) => {
  const postA = a.posts["zh-cn"] || a.posts.en;
  const postB = b.posts["zh-cn"] || b.posts.en;
  return new Date(postB!.meta.pubDate).getTime() - new Date(postA!.meta.pubDate).getTime();
})
const packedByYear = new Map<number, LanguageCollection[]>();
for (const collection of allCollections) {
  const year = collection.posts["zh-cn"]?.meta.pubDate.getFullYear() || 2099;
  if (!packedByYear.has(year)) packedByYear.set(year, []);
  packedByYear.get(year)?.push(collection);
}
---

<BaseLayout title="Blog" lang={ lang }>
  <main>
    <section>
      <p class="slogan desc">{ t("blog.slogan") }</p>
      {Array.from(packedByYear.entries())
        .map(([year, collection]) => (
          <ul class="post-list" data-year={year}>
            {collection.map((collection) => (
              <PostPreview {collection} />
            ))}
          </ul>
        )
      )}
    </section>
    <section>
      <p class="friends desc">{ t("blog.friends") }</p>
      <FriendList />
    </section>
  </main>
</BaseLayout>

<style lang="less">
main {
  padding: 0 1rem 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section {
  margin: 2rem 0;
}
.desc {
  padding-left: 40px;
  font-family: "IBM Plex Sans", sans-serif;
  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}
.post-list {
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  &::before {
    content: attr(data-year);
    opacity: .1;
    font-weight: bold;
    font-size: 2rem;
    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}
</style>
