---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostPreiew from "@components/PostPreiew.astro";
import { getCollection } from "astro:content";
import type { Languages } from "@interfaces/i18n";
import { useTranslations } from "@hooks/i18n/useTranslations";

export interface Props {
	lang: Languages;
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn"} },
    { params: { lang: "en" }, props: { lang: "en"} }
  ]
}

const allPosts = (await getCollection("blog"))
  .map(page => {
    const [_, ...slug] = page.slug.split("/");
    return {
      meta: page.data,
      url: `${slug.join("/")}`
    }
  })
  .sort((a, b) => new Date(b.meta.pubDate).getTime() - new Date(a.meta.pubDate).getTime());

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<BaseLayout title="Blog" lang={ lang }>
  <main>
    <p class="slogan">{ t("blog.slogan")}</p>
    <div class="list">
      {allPosts.map((post) => (
        <PostPreiew post={post} />
      ))}
    </div>
  </main>
</BaseLayout>

<style lang="less">
main {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
}
.slogan {
  font-family: "IBM Plex Sans", sans-serif;
}
.list {
  padding: 0 1rem;
}
</style>
