---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostPreview from "@components/PostPreview.astro";
import type { Languages } from "@interfaces/i18n";
import { useTranslations } from "@hooks/i18n/useTranslations";
import { getLanguageCollections } from "@utils/languageCollection";

export interface Props {
	lang: Languages;
}

export async function getStaticPaths() {
  return [
    { params: { lang: "zh-cn" }, props: { lang: "zh-cn"} },
    { params: { lang: "en" }, props: { lang: "en"} }
  ]
}

const { lang } = Astro.props;
const t = useTranslations(lang);

const allCollections = await getLanguageCollections();
---

<BaseLayout title="Blog" lang={ lang }>
  <main>
    <p class="slogan">{ t("blog.slogan") }</p>
    <div class="list">
      {allCollections.map((collection) => (
        <PostPreview {collection} />
      ))}
    </div>
  </main>
</BaseLayout>

<style lang="less">
main {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
}
.slogan {
  font-family: "IBM Plex Sans", sans-serif;
}
.list {
  padding: 0 1rem;
}
</style>
